<% layout("/layouts/boilerplate") -%> <%- include("../includes/carousal.ejs") %>
<%- include("../includes/filter.ejs") %>

<div class="index">
  <div><h2>Suggested for You</h2></div>
  <br />
  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 content ml-3">
    <% for(let listing of allListings) { %> <% if(listing.category == "") { %>
    <a class="listing-links" href="/listings/<%= listing._id %>">
      <div class="card col listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing-image"
          style="height: 20rem"
        />
        <div class="card-img-overlay">
          <span class="card-img-overlay-heart" role="button">
            <i class="bi bi-heart-fill"></i>
          </span>
        </div>
        <div class="card-body">
          <p class="card-text">
            <b> <%= listing.title %> </b>
            <br />
            &#8377; <%= listing.price.toLocaleString("en-IN") %>
          </p>
        </div>
      </div>
    </a>
    <% } } %>
  </div>
</div>
