<% layout("/layouts/boilerplate") -%>

<div class="show">
  <div class="row">
    <div class="col-8 offset-3 mt-3">
      <h3><b> <%= listing.title %> </b></h3>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top show-img"
        alt="listing image"
      />

      <div class="card-body">
        <br />

        <p class="card-text"><%= listing.description %> <br /></p>
        <p class="card-text">
          &#8377; <%= listing.price.toLocaleString("en-IN") %>
        </p>
      </div>
    </div>

    <br />

    <div class="btns">
      <a
        href="/listings/<%= listing._id %>/edit"
        class="btn btn-dark col-1 offset-1 edit-btn"
        >Edit</a
      >

      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE ">
        <button class="btn btn-dark offset-3">Delete</button>
      </form>
      <a
        href="/listings/<%= listing.id %>/add2cart"
        class="btn btn-warning offset-5"
      >
        Add to Cart</a
      >
    </div>

    <div class="col-8 offset-3 mb-3 mt-3">
      <hr />
    </div>
  </div>
</div>
