<% layout("/layouts/boilerplate") -%>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Cart Listings</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Listing Name</th>
            <th>Listing Description</th>
            <th>Listing Price</th>
            <th>Listing Image</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% cartListing.forEach(function(listing) { %>
          <tr>
            <td><%= listing.title %></td>
            <td><%= listing.description %></td>
            <td><%= listing.price %></td>
            <td>
              <img
                src="<%= listing.image.url %>"
                alt="Listing Image"
                style="width: 100px; height: 100px"
              />
            </td>
            <td>
              <a
                href="/listings/<%= listing._id %>/cart"
                class="btn btn-warning"
                >Add to Cart</a
              >
              <form
                action="/listings/<%= listing._id %>?_method=DELETE"
                method="POST"
                style="display: inline"
              >
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
