<% layout('/layouts/boilerplate') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Your Cart</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Listing Name</th>
            <th>Listing Description</th>
            <th>Listing Price</th>
            <th>Listing Image</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% cartListing.forEach(function(listing) { %>
          <tr>
            <td><%= listing.title %></td>
            <td><%= listing.description %></td>
            <td><%= listing.price %></td>
            <td>
              <img src="<%= listing.image.url %>" alt="Listing Image" style="width: 100px; height: 100px" />
            </td>
            <td>
              <form action="/listings/<%= listing._id %>/cart?_method=POST" method="POST" style="display: inline">
                <button type="submit" class="btn btn-danger">Remove from Cart</button>
              </form>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>